{:paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :exec-fn cognitect.test-runner.api/test}

  :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2024.03.13"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src:test"]}

  :format {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.13.4"}}
           :main-opts ["-m" "cljfmt.main" "fix" "src" "test"]}

  :format-check {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.13.4"}}
                 :main-opts ["-m" "cljfmt.main" "check" "src" "test"]}}}